body{
	margin: 0;
	font: 62.5% "Segoe UI", sans-serif;
}

h2{
	font-size: 12px;
	margin: 10px;
}

.dialog{
	padding: 20px 27px 0px;
	overflow: none;
	font-family: "Segoe UI", sans-serif;
}

#importing h1{
	text-align: center;
}

#importing h1 img{
	margin-right: 10px;
	width: 20px;
	position: relative;
	top: 2px;
}

.ui-dialog a{
	color:#336699;
}

.dialog h1{
	margin: 0 0 15px;
	font-weight: normal;
	color: #000;
}

.dialog p{
	font-size: 14px;
}

.dialog code{
	font-size: 12px;
}

.dialog textarea{
	width: 716px;
	height: 240px;
	border: 1px solid #ccc;
	padding: 15px;
}

.dialog input[type=text]{
	margin-bottom: 20px;
	width: 716px;
	padding: 10px;
	font-size: 15px;
	border: 1px solid #ddd;
	font-family: 62.5% "Segoe UI", sans-serif;
}

/* Override input width for new color dialog */
#newColorInput{
	width: 250px;
	float: left;
}

.dialog .buttonpane{
	display: none;
}

.ui-dialog .ui-dialog-buttonpane .separator{
	height: 1px;
	width: 776px;
	background-color: #eee;
	margin: 0 auto 10px;
}

.ui-dialog .ui-dialog-buttonpane img{
	margin: 3px 13px 0 20px;
	float: left;
}

.ui-dialog .ui-dialog-buttonpane #colors{
	margin: 10px -5px 0 0;
}

.ui-dialog .ui-dialog-buttonpane p{
	width: 400px;
	float: left;
	font-size: 14px;
	margin-top: 3px;
}

.ui-dialog ul li{
	margin:5px 0;
}

.ui-dialog ul a{
	color:#336699;
	font-size:13px;
	font-weight:normal;
}

.ui-dialog h3{
	color:#222;
	border-top:1px solid #ccc;
	padding-top:10px;
	margin-top:20px;
}

.ui-dialog a.help-top{
	color:#336699;
	float:right;
	font-size:11px;
	font-weight:normal;
}

#share + .ui-dialog-buttonpane p{
	width: 550px;
	font-size: 13px;
}

#welcome + .ui-dialog-buttonpane .separator{
	width: 536px;
}

#download label{
	margin: 10px;
	font-size: 15px;
	float: right;
}

#download input{
	margin-top: 8px;
	font-size: 12px;
	float: right;
	height: 15px;
	width: 200px;
}

#colors{
	margin: 7px 0px 0px 13px;
	float: left;
}

#colors .color-drag{
	margin-right: 1px;
}

#wrapper{
	height: 100%;
	margin-left: 320px;
	color: #666;
}

#header-wrapper{
	border-bottom: 1px solid #ddd;
	height: 93px;
}

#header{
	height: 100%;
	width: 922px;
	margin: 0;
	position: relative;
}

#inspector_form{
	width: 130px;
	padding: 0px 20px;
	height: 100%;
	float: left;
}


#quickswatch{
	width: 580px;
	height: 100%;
	float: left;
}

#quickswatch h2{
	font-weight: normal;
}

#quickswatch h2 img{
	position: relative;
	top: 4px;
	margin-left: 10px;
}

#quickswatch #kuler-activation{
	color: #29ABE2;
	font-weight: normal;
	margin-left: 5px;
	cursor: pointer;
}

#quickswatch h2 #kuler-activation img{
	position: relative;
	top: -1px;
	margin-left: 4px;
}

#quickswatch .colors{
	padding: 10px;
	margin-top: -10px;
}

#quickswatch h2 strong{
	color: #000;
}

.color-drag, .newColorPreview{
	width: 12px;
	height: 12px;
	float: left;
	border: 1px solid #777;
}

.newColorPreview{
	margin: 30px 0px 0px 5px;
}

.color-drag.separator{
	margin-left: 15px;
}

#quickswatch .colors .color-drag{
	margin-right: 1px;
}

#sliders{
	margin-top: 15px;
	padding: 0 10px;
}

#sliders span{
	float: left;
	font-size: 10px;
	margin: 5px 15px 0 10px;
}

#sliders img{
	float: left;
	margin-right: 15px;
	margin-top: 1px;
}

#saturation_slider{
	float: left;
	width: 100px;
	margin-top: 8px;	
	border: none;
    border-radius: 3px 3px 3px 3px;
    height: 4px;
}

#saturation_slider a{
	background: none repeat scroll 0 0 #444;
    border: 1px solid #000000;
    border-radius: 20px 20px 20px 20px;
    height: 7px;
	width: 7px;
    margin-left: -0.6em;
    margin-top: 0;
	cursor: pointer;
}

#lightness_slider{
	float: left;
	width: 100px;
	margin: 8px 10px 0 0;	
	border: none;
    border-radius: 3px 3px 3px 3px;
    height: 4px;
}

#lightness_slider a{
	background: none repeat scroll 0 0 #444;
   	border: 1px solid #000000;
    border-radius: 20px 20px 20px 20px;
    height: 7px;
	width: 7px;
    margin-left: -0.6em;
    margin-top: 0;
	cursor: pointer;
}

#back-to-jquery{
	width: 165px;
	height: 100%;
	float: left;
	text-align: center;
}

#back-to-jquery img{
	margin-top: 30px;
}

#content{
	margin: auto;
	height: 650px;
	margin-left: 1px;
}

iframe{
	border: none;
	height: 100%;
	width: 99%;
}

iframe body{
	background: #fff;
}

.radio{
	text-align: center;
	float: left;
	padding: 6px 15px 8px 15px;
	font-weight: bold;
	cursor: pointer;
	font-size: 12px;
	width: 20px;
	height: 16px;
	font-family: "Segoe UI", Verdana, Arial, sans-serif;
	border: 1px solid  		#ccc;
	background:  			#eee;
	color:  					#2F3E46;
	text-shadow:  0 1px 1px #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom,  from( #fdfdfd), to( #eee )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top,  #fdfdfd,  #eee); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top,  #fdfdfd,  #eee); /* FF3.6 */
	background-image:     -ms-linear-gradient(top,  #fdfdfd,  #eee); /* IE10 */
	background-image:      -o-linear-gradient(top,  #fdfdfd,  #eee); /* Opera 11.10+ */
	background-image:         linear-gradient(top,  #fdfdfd,  #eee);
}

.radio:hover{
	border: 1px solid  		#bbb;
	background:  			#dadada;
	color:  					#2F3E46;
	text-shadow:  0 1px 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom,  from( #ededed),  to( #dadada)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top,  #ededed,  #dadada); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top,  #ededed,  #dadada); /* FF3.6 */
	background-image:     -ms-linear-gradient(top,  #ededed,  #dadada); /* IE10 */
	background-image:      -o-linear-gradient(top,  #ededed,  #dadada); /* Opera 11.10+ */
	background-image:         linear-gradient(top,  #ededed,  #dadada);
}

.radio:active{
	border: 1px solid  		#808080;
	background:  			#fdfdfd;
	color:  					#2F3E46;
	text-shadow:  0 1px 1px #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom,  from( #eee), to( #fdfdfd  /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top,  #eee,  #fdfdfd); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top,  #eee,  #fdfdfd); /* FF3.6 */
	background-image:     -ms-linear-gradient(top,  #eee,  #fdfdfd); /* IE10 */
	background-image:      -o-linear-gradient(top,  #eee,  #fdfdfd); /* Opera 11.10+ */
	background-image:         linear-gradient(top,  #eee,  #fdfdfd);
}

.radio.left{
	margin-left: 10px;
	-moz-border-radius-topleft: 		.6em;
	-webkit-border-top-left-radius: 	.6em;
	border-top-left-radius: 			.6em;
	-moz-border-radius-bottomleft: 		.6em;
	-webkit-border-bottom-left-radius: 	.6em;
	border-bottom-left-radius: 			.6em;
}

.radio.right{
	-moz-border-radius-topright:  			.6em;
	-webkit-border-top-right-radius:  			.6em;
	border-top-right-radius:  			.6em;
	-moz-border-radius-bottomright:  			.6em;
	-webkit-border-bottom-right-radius:  			.6em ;
	border-bottom-right-radius:  			.6em;
}

.radio.on {
	border: 1px solid #b4dd4b ;
	background: #87ff52 ;
	color:  					#fff  ;
	text-shadow:  0    -1px    1px   #969696 ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #b4dd4b ), to( #9ec441 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #b4dd4b , #9ec441 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #b4dd4b , #9ec441 ); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #b4dd4b , #9ec441 ); /* IE10 */
	background-image:      -o-linear-gradient(top, #b4dd4b , #9ec441 ); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #b4dd4b , #9ec441 );
}

.radio.on:hover{
	border: 1px solid #b4dd4b ;
	background: #87ff52 ;
	color:  					#fff  ;
	text-shadow:  0    -1px    1px   #969696 ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #b4dd4b ), to( #9ec441 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #b4dd4b , #9ec441 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #b4dd4b , #9ec441 ); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #b4dd4b , #9ec441 ); /* IE10 */
	background-image:      -o-linear-gradient(top, #b4dd4b , #9ec441 ); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #b4dd4b , #9ec441 );
	}

.radio.on:active{
	border: 1px solid #b4dd4b ;
	background: #87ff52 ;
	color:  					#fff  ;
	text-shadow:  0    -1px    1px   #969696 ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #b4dd4b ), to( #9ec441 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #b4dd4b , #9ec441 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #b4dd4b , #9ec441 ); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #b4dd4b , #9ec441 ); /* IE10 */
	background-image:      -o-linear-gradient(top, #b4dd4b , #9ec441 ); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #b4dd4b , #9ec441 );
}

#load-mask{
	background-image: url(../images/loading_background.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
}

#load-screen{
	background-image: url(../images/loading_screen.png);
	width: 428px;
	height: 247px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -224px;
}

#load-spinner{
	width: 32px;
	height: 32px;
	background: url('../images/ajax-loader.gif') no-repeat;
	position: relative;
	margin: auto;
	top: 173px;
	left: -130px;
}
