#kuler{
	border-right: 1px solid #000; width: 490px;
	background-color: #161616;
	height: 100%;
	float: left;
	color: #fff;
	display: none;
}

#kuler .color-drag{
	border: none;
	width: 14px;
	height: 14px;
}

#kuler #left-panel{
	width: 100px;
	height: 70px;
	border-right: 1px solid #777;
	padding: 10px;
	float: left;
}

#kuler #left-panel>img{
	width: 100%;
}

#kuler #left-panel #kuler-select{
	margin-top: 20px;
	margin-bottom: 2px;
	width: 100px;
}

#kuler #left-panel #kuler-search{
	width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid #777;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 5px;
	float: left;
}

#kuler #left-panel input{
	width: 68px;
	font-size: 10px;
	float: left;
}

#kuler #kuler-search-query{
	display: none;
	margin-top: 1px;
}

#kuler #center-panel{
	width: 296px;
	height: 77px;
	padding: 3px 15px 10px;
	float: left;
	border-right: 1px solid #777;
}

#kuler #center-panel .kuler-page{
	display: none;
	float: left;
}

#kuler #center-panel .kuler-page.active{
	display: block;
}

#kuler #center-panel p{
	margin-top: 0;
	margin-bottom: 5px;
	color: #fff;
	width: 100%;
	overflow: hidden;
	font-size: 10px;
	height: 10px;
}

#kuler #center-panel .kuler-theme{
	margin: 10px 14px 0;
	float: left;
	width: 70px;
}

#kuler #center-panel #kuler-loader{
	font-size: 12px; 
	width: 75px;				
	height: 15px;
	margin: 30px auto;
}

#kuler-loader img{
	position: relative; 
	top: 3px;				
	height: inherit;
}

#kuler .kuler-details{
	display: none;
	width: 148px;
	padding: 10px;
	position: absolute;
	z-index: 1200;
	border: 1px solid #777;
	background-image: url(images/detail-bg.png);
	font-size: 13px;
}

.kuler-details h5{
	margin: 0;
	font-size: 13px;
}

#kuler #center-panel .kuler-details p{
	margin-top: 2px;
	font-size: 12px;
	color: #ddd;
	height: 14px;
}

.kuler-details span{
	color: #ddd;
	font-size: 10px;
}

.kuler-details .detail-star{
	width: 10px;
	height: 10px;
}

.kuler-details .detail-footer{
	margin-top: 10px;
	border-top: 1px solid #777;
	padding: 10px 0 0;
	width: 148px;
}

.detail-footer a{
	text-decoration: none;
	color: #fff;
	margin-right: 10px;
}

#kuler .kuler-theme .colors{
	width: 70px;
}

#kuler #right-panel{
	height: 70px;
	width: 41px;
	float: left;
	font-size: 12px;
}

#kuler #kuler-close{
	height: 15px;
	padding: 5px 5px;
	border-bottom: 1px solid #777;
	text-align: center;
	cursor: pointer;
}

#kuler #right-panel #kuler-pages>div{
	margin-top: 10px;
	text-align: center;
}

#kuler #right-panel #kuler-pages #kuler-back-page{
	text-align: center;
	width: 15px;
	height: 15px;
	margin: 7px 0px 0 5px;
	float: left;
	cursor: pointer;
}

#kuler #right-panel #kuler-pages #kuler-next-page{
	text-align: center;
	width: 15px;
	height: 15px;
	margin: 7px 0px 0 0px;
	float: left;
	cursor: pointer;
}